<div class="element-divider-wrapper" id={{_id}} draggable="true">
    <div class="inner-container">
        <div class="element-wrapper-image" style="height: {{height}}px; width: {{width}}%">
            <span class="icon-delete"></span>
            <span class="icon-resize"></span>
            <span class="icon-resize"></span>
            <span class="icon-resize-rotate"></span>
            <div class="element-image">
                <span class="icon-image-placeholder"></span>
                <span class="add-image-text">ADD IMAGE <span>+</span></span>
            </div> 
        </div>
    </div>
</div>