<div class="element-divider-wrapper" id={{_id}} draggable="true">
    <div class="divider"><span></span></div>
    <div class="element-wrapper-title">
        <span class="icon-delete"></span>
        <span class="icon-resize-rotate"></span>
        <div class="element-title" contenteditable="true" data-placeholder="Add Title Here">{{content}}</div>
    </div>
</div>