<div class="element-divider-wrapper" id={{_id}} draggable="true">
    <div class="element-wrapper-text" style="height: {{height}}px; width: {{width}}%">
        <span class="icon-delete"></span>
        <span class="icon-resize"></span>
        <span class="icon-resize"></span>
        <span class="icon-resize-rotate"></span>
        <div class="element-text" contenteditable="true" data-placeholder="Click here to edit">{{content}}</div>
    </div>
</div>