<div class="element-divider-wrapper" id={{id}}>
    <div class="divider"><span></span></div>
    <div class="element-wrapper">
        <span class="icon-delete"></span>
        <span class="icon-resize"></span>
        <span class="icon-resize"></span>
        <span class="icon-resize-rotate"></span>
        <div class="element-text" contenteditable="true" data-placeholder="Click here to edit">{{text}}</div>
    </div>
</div>