<div class="element-divider-wrapper" id={{_id}} draggable="true" style="width: {{width}}%">
    <div class="inner-container">
        <div class="element-wrapper-title" style="height: {{height}}px;">
            <span class="icon-delete"></span>
            <span class="icon-resize-rotate"></span>
            <div class="element-title" contenteditable="true" data-placeholder="Add Title Here">{{content}}</div>
        </div>
    </div>
</div>