<div class="element-divider-wrapper" id={{_id}} draggable="true">
    <div class="divider"><span></span></div>
    <div class="element-wrapper">
        <span class="icon-delete"></span>
        <span class="icon-resize"></span>
        <span class="icon-resize"></span>
        <span class="icon-resize-rotate"></span>
        <div class="element-image">
            <span class="icon-image-placeholder"></span>
            <span class="add-image-text">ADD IMAGE <span>+</span></span>
        </div> 
    </div>
</div>