.element-wrapper-image {
  position: relative;
  padding: 25px 22px 39px 22px;
  .element-image {
    display: inline-block;
    width: 100%;
    height: 285px;
    padding: 72px;
    background-color: $athens-gray;
    border: 2px solid $heather;
    border-radius: 5px;
    text-align: center;
    .add-image-text {
    display: block;
    font-family: 'ProximaNova-Reg', sans-serif;
    color: $heather;
    font-size: 13px;
      span {
        font-size: 19px;
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
  &:hover, &:focus {
    border-radius: 7px;
    border: 2px solid $anakiwa;
    .element-image {
      border: none;
    }
    span.icon-delete, span.icon-resize, span.icon-resize-rotate {
      visibility: visible;
    }
  }
  >span.icon-delete {
    visibility: hidden;
    position: absolute;
    top: -2px;
    right: -2px;
    cursor: pointer;
  }

  >span:nth-child(2) {
    visibility: hidden;
    position: absolute;
    top: 45%;
    left: -5px;
    cursor: move;
  }
  >span:nth-child(3) {
    visibility: hidden;
    position: absolute;
    top: 45%;
    right: -5px;
    cursor: move;
  }
  >span.icon-resize-rotate {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: -23px;
    cursor: move;
  }
}
