.element-wrapper-title {
  position: relative;
  padding: 18px 22px;
  min-height: 75px;
  text-overflow: scroll;
  &.bordered {
    border-radius: 7px;
    border: 2px solid $anakiwa;
    span.icon-delete, span.icon-resize, span.icon-resize-rotate {
      visibility: visible;
    }
  }
  .element-title {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'ProximaNova-Reg', sans-serif;
    color: $dark-grey;
    font-size: 30px;
    text-align: left;
    outline: none;
  }
  &:hover, &:focus {
    border-radius: 7px;
    border: 2px solid $anakiwa;
    span.icon-delete, span.icon-resize, span.icon-resize-rotate {
      visibility: visible;
    }
  }
  [contentEditable=true] {
    user-select: text;
  }
  [contentEditable=true]:empty:not(:focus):before{
    content: attr(data-placeholder);
    color: $dark-grey;
  }
  >span.icon-delete {
    visibility: hidden;
    position: absolute;
    top: -2px;
    right: -2px;
    cursor: pointer;
  }
  >span.icon-resize-rotate {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: -23px;
    cursor: ns-resize;
  }
}