.view-container {
  position: absolute;
  top: 42px;
  left: 234px;
  bottom: 0;
  right: 0;
  padding: 42px 72px 50px;
  border: 1px solid white;
  border-top-left-radius: 2px;
  background-color: white;
  box-shadow: -1px 0px 10px 0px rgba(28,45,59,1);
  z-index: 1;
  overflow: scroll;
}

.divider {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 3px 0;
  span.active {
    display: inline-block;
    width: 100%;
    border-top: 2px dashed $malibu;
  }
}

.page-tab {
  li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 40px;
    min-width: 123px;
    padding: 10px 0;
    text-align: center;
    background-color: transparent;
    border: 2px solid $nepal;
    border-radius: 5px;
    font-family: 'ProximaNova-Reg', sans-serif;
    font-size: 14px;
    color: $nepal;
    &.active {
      color: white;
      border: 2px solid $bali-hai;
      background-color: $nepal;
    }
  }
}

.page-content {
  width: 100%;
  height: 100%;
  .element-wrapper {
    position: relative;
    .element-image {
      display: inline-block;
      width: 100%;
      height: 285px;
      padding: 72px;
      background-color: $athens-gray;
      border: 2px solid $heather;
      border-radius: 5px;
      text-align: center;
      .add-image-text {
      display: block;
      font-family: 'ProximaNova-Reg', sans-serif;
      color: $heather;
      font-size: 13px;
        span {
          font-size: 19px;
          vertical-align: middle;
          margin-left: 5px;
        }
      }
    }
    .element-text {
      display: inline-block;
      width: 100%;
      min-height: 150px;
      padding: 15px 0;
      font-family: 'ProximaNova-Reg', sans-serif;
      color: $dark-grey;
      font-size: 14px;
      text-align: justify;
      line-height: 25px;
      letter-spacing: 0.3px;
      outline: none;
    }
    &:hover, &:focus {
      border-radius: 7px;
      border: 2px solid $anakiwa;
      .element-image {
        border: none;
      }
      span.icon-delete, span.icon-resize, span.icon-resize-rotate {
        visibility: visible;
      }
    }

    [contentEditable=true]:empty:not(:focus):before{
      content: attr(data-placeholder);
      color: $dark-grey;
      font-style: italic;
    }
    >span.icon-delete {
      visibility: hidden;
      position: absolute;
      top: -2px;
      right: -2px;
      cursor: pointer;
    }

    >span:nth-child(2) {
      visibility: hidden;
      position: absolute;
      top: 45%;
      left: -5px;
      cursor: move;
    }
    >span:nth-child(3) {
      visibility: hidden;
      position: absolute;
      top: 45%;
      right: -5px;
      cursor: move;
    }
    >span.icon-resize-rotate {
      visibility: hidden;
      position: absolute;
      left: 45%;
      bottom: -23px;
      cursor: move;
    }
  }
}