.view-container {
  position: absolute;
  top: 42px;
  left: 234px;
  bottom: 0;
  right: 0;
  padding: 40px 73px 50px;
  border: 1px solid white;
  border-top-left-radius: 2px;
  background-color: white;
  box-shadow: -1px 0px 10px 0px rgba(28,45,59,1);
  z-index: 1;
  overflow: scroll;
}

.divider {
  position: relative;
  width: 100%;
  height: 55px;
  padding: 15px 0;
  span.active {
    display: inline-block;
    width: 100%;
    border-top: 2px dashed $malibu;
  }
}

.page-tab {
  padding: 0 15px;
  li {
    height: 40px;
    min-width: 123px;
    padding: 10px 0;
    text-align: center;
    background-color: $nepal;
    border: 2px solid $gothic;
    border-radius: 5px;
    font-family: 'ProximaNova-Reg';
    font-size: 14px;
    color: white;
  }
}

.page-content {
  width: 100%;
  .element-wrapper {
    position: relative;
    .element-image {
      display: inline-block;
      width: 100%;
      height: 285px;
      padding: 72px;
      background-color: $athens-gray;
      border: 2px solid $heather;
      border-radius: 5px;
      text-align: center;
      .add-image-text {
      display: block;
      font-family: 'ProximaNova-Reg';
      color: $heather;
      font-size: 13px;
        span {
          font-size: 19px;
          vertical-align: middle;
          margin-left: 5px;
        }
      }
    }
    &:hover, &:focus {
      border-radius: 5px;
      border: 2px solid $anakiwa;
      .element-image {
        border: none;
      }
      span:nth-child(3) {
        visibility: visible;
      }
    }
  }
  .element-wrapper {
    position: relative;
    .element-text {
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-family: 'ProximaNova-Reg';
    color: $dark-grey;
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
    letter-spacing: 0.3px;
    outline: none;
    }
    &:hover {
      border-radius: 5px;
      border: 2px solid $anakiwa;
      span {
        visibility: visible;
      }
    }

    [contentEditable=true]:empty:not(:focus):before{
      content: attr(data-placeholder);
      color: $dark-grey;
      font-style: italic;
    }
  }
  span.icon-delete {
    visibility: hidden;
    position: absolute;
    top: -2px;
    right: -2px;
    cursor: pointer;
  }
}