$main-blue: #488ACD;
$dark-blue: #293E51;
$dark-grey: #4C657C;
$lighter-grey: #99B3CB;
$light-grey: #4C657C;
$deep-grey: #182734;
$te-papa-green: #1E3140;
$nepal: #94AABD;
$gothic: #768B9E;
$athens-gray: #EFF2F5;
$heather: #BECCD9;
