@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url("../fonts/ProximaNova-LightIt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Reg';
  src: url("../fonts/ProximaNova-Reg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-RegIt';
  src: url("../fonts/ProximaNova-RegIt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Sbold';
  src: url("../fonts/ProximaNova-Sbold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VAGRoundedStd-Bold';
  src: url("../fonts/VAGRoundedStd-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VAGRoundedStd-Light';
  src: url("../fonts/VAGRoundedStd-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VAGRoundedStd-Thin';
  src: url("../fonts/VAGRoundedStd-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

