.icon-logo {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -1px -7px;
  width: 37px;
  height: 27px;
}

.icon-add {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -12px -231px;
  width: 16px;
  height: 15px;
  &:hover {
    background-position: -12px -250px;
  }
}

.icon-title {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -9px -155px;
  width: 53px;
  height: 55px;
}

.icon-text {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -63px -155px;
  width: 53px;
  height: 55px;
}

.icon-image {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -117px -155px;
  width: 53px;
  height: 55px;
}

.icon-nav {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -171px -155px;
  width: 53px;
  height: 55px;
}

.icon-toggle-off {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -5px -303px;
  width: 53px;
  height: 23px;
  // transition: all 0.5s ease;
  &:hover {
    background-position: -5px -328px;
  }
}

.icon-toggle-on {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -5px -352px;
  width: 53px;
  height: 23px;
}

.icon-image-placeholder {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -14px -395px;
  width: 109px;
  height: 113px;
}

.icon-delete {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -8px -98px;
  width: 40px;
  height: 40px;
  &:hover {
    background-position: -51px -98px;
  }
}

.icon-delete-grey {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -52px -231px;
  width: 16px;
  height: 15px;
}

.icon-edit {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -32px -231px;
  width: 16px;
  height: 15px;
}

.icon-resize {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -4px -43px;
  width: 8px;
  height: 43px;
}
.icon-resize-rotate {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -4px -43px;
  width: 8px;
  height: 43px;
  transform: rotate(90deg);
}

.icon-handle {
  width: 55px;
  height: 15px;
  border: 1px solid #95d3ff;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-color: #fff;
  transition: background-color 0.05s ease-in,border-color 0.05s ease-in;
  background-image: url(../img/spritesheet.png);
  background-position: -4px -43px;
}