.icon-logo {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -1px -7px;
  width: 37px;
  height: 27px;
}

.icon-add {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -12px -231px;
  width: 16px;
  height: 15px;
}

.icon-title {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -9px -155px;
  width: 54px;
  height: 55px;
}

.icon-text {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -63px -155px;
  width: 54px;
  height: 55px;
}

.icon-image {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -117px -155px;
  width: 54px;
  height: 55px;
}

.icon-nav {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -171px -155px;
  width: 54px;
  height: 55px;
}

.icon-toggle-off {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -5px -303px;
  width: 53px;
  height: 23px;
}

.icon-image-placeholder {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -14px -395px;
  width: 109px;
  height: 113px;
}

.icon-delete {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -8px -98px;
  width: 40px;
  height: 40px;
  &:hover {
    background-position: -51px -98px;
  }
}